:root {
  --grad1: radial-gradient(farthest-corner circle at top left, #91c3cb 0%, 26%, #83bfcb 0%, 46%, #47c0cf 0%, 60%, #0191c1 0%, 82%, #004fff 0%);
  /*--grad2: linear-gradient(#afc8ff 0%, 10%, #99bdff 0%, 26%, #7ba5ff 0%, 46%, #4f95ff 0%, 72%, #0077ff 0%);
*/
}

body {
    margin: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    text-align: center;
    background-color: #eeeeee4c;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header img {
    /*add to the left of the navbar */
    display: block;
    justify-content: flex-start;
    width:15vw;
    margin-left:10px;

}


.header a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 10px;
}

.header .active {
    font-weight: bolder;
}

.h1 {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1px;

}

.hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: grey;
    background-image: url("https://placehold.co/800x600");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 35vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.52);
    margin-bottom: 20px;

}

.hero-text {
    margin-top: 25vh;
}


main {
    justify-content: center;
    text-align:justify;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}
.advert-section {
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.advert-section h2 {
    text-align: center;
}

.advert-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.advert {
    width: 30%;

}

.advert h3 , .advert p {
    text-align: center;

}

.advert-icon {
    display: flex;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 40px;
}

.about {
    padding: 5vh 5vh;
    background: var(--grad1);
    color: #ffffff;
}

.footer {
    text-align: center;
    background-color: #a5c5ca;
    color: white;
    padding: 5vh;
}

.mailto {
    text-decoration: underline;
    color: white;
}